
.App {
  text-align: center;
  background-color: white;
  font-family: "Poppins";
}

.timerNav {
  min-height: 10em;
}
.rightNav {
  padding-left: 30px;
  font-weight: 800;
}
.leftNav {
  margin-left: 75em;
  font-weight: 600;
}

@media (max-width: 468px) {
  .rightNav {
    padding-left: 10px;
  }
  .leftNav {
    margin-left: 10em;
  }
}
#timerImg {
  width: 150px;
  margin-left: -2em;
  margin-bottom: 20px;
}

.timerHeader {
  font-size: 30px;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.spanTIMR {
  font-weight: 700;
}

.timerDisplay {
  width: 300px;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 10px 34px 60px 0px rgba(0,0,0,0.2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.seconds {
  margin: 5px;
  display: inline-flex;
  font-weight: 600;
}
.mseconds {
  margin: 5px;
  display: inline-flex;
}

.timerButtons {
  justify-content: center;
}
Button {
  margin-right: 20px;

}




